<% content_for :cabecalho do %>
  Meu carrinho
<% end %>

<% form_tag atualizar_pedido_itens_path, :method => :post do %>

  <table border="1">
    <thead>
      <tr>
        <td> Nome </td>
        <td> Quantidade </td>
        <td> Preço unitário </td>
        <td> Preço Total </td>
      </tr>
    </thead>
    <tbody>
      <% pedido_atual.itens.each do |item| %>
        <%=
        # Procura _item ("item") dentro da pasta onde o arquivo foi definido
        #O objeto itens recebe os valores contidos na variável item
        render "item", :item => item %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2"></td>
        <td>Preço Total:</td>
        <td> <%= number_to_currency pedido_atual.preco_total %> </td>
      </tr>

    </tfoot>
  </table>

  <%= submit_tag "Atualizar" %>

<% end  %>